<!DOCTYPE html>
<html>
<head>
    <title>WTOP example with updatable elements</title>
    <script type="module" src="/elements/example.js"></script>
    <script type="module" src="/elements/dial.js"></script>
    <script src="/updater.js"></script>
</head>
<body>
<h1>Self Updating Elements Example</h1>
<span>This is an example on using some custom html elements. This page is of little interest to a regular user :)</span>
<h2>Values:</h2>
<updatable-element data-title="Read At"     data-value="read_at">   </updatable-element><br>
<updatable-element data-title="Governor"    data-value="governor">  </updatable-element><br>
<updatable-element data-title="Temp1"       data-value="temp1">     </updatable-element><br>
<updatable-element data-title="Freq1"       data-value="freq1">     </updatable-element><br>
<updatable-element data-title="GPU Temp"    data-value="gpu_temp">  </updatable-element><br>
<updatable-element data-title="ZZZ"         data-value="zzz">       </updatable-element><br>
</body>
</html>
